<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Constancia de Estudios</title>
</head>
<body>
  <div style="text-align: center;margin-top:40px">
    <div style="font-weight: bold;">REPÚBLICA BOLIVARIANA DE VENEZUELA</div>
    <div style="font-weight: bold;">MINISTERIO DEL PODER POPULAR PARA LA EDUCACIÓN</div>
    <div style="font-weight: bold;">COMPLEJO EDUCATIVO “SERGIO MEDINA”</div>
    <div style="font-weight: bold;">CARACAS</div>
    <div style="font-weight: bold;">DISTRITO CAPITAL CODIGO DEA: OD11190811</div>
    <br>
    <br>
    <br>
    <div style="font-weight: bold; font-size:larger">CONSTANCIA DE ESTUDIOS</div>
    <br>
    <br>
    <br>
    <div style="padding-left: 30px;">
 <div style="text-align: left; font-weight: bold;">Quiénes suscriben,</div>
    <div style="text-align: left;font-weight: bold;">Lcda. Elizabeth Lopez</div>
    <div style="text-align: left;font-weight: bold;">; titular de la cédula de identidad Nº: V.- 11.111.111.</div>
    </div>
   
    <br>
    <br>
    <div style="text-align: left; line-height:2; padding:30px">Directora Académica de el Complejo Educativo “Sergio Medina” ubicada en la Avenida principal en calle 1 de 
        Propatria, Parroquia Sucre, municipio Libertador, Distrito Capital, hace constar por medio de la presente que el (la) estudiante: 
        <span id="nombreEstudiante">{{data.estudiante}}</span> Cédula Escolar o Identidad: - <span id="cedula">{{data.cedula}}</span> Nacido(a) en: 
        <span id="lugarNacimiento">{{data.nacido}}</span> de: <span id="edad">{{data.edad}}</span> años de edad. Cursa en esta institución el <span id="grado">{{data.curso}}
        </span> Grado Sección: <span id="seccion">{{data.seccion}}</span> Turno: <span id="turno">{{data.turno}}</span> de Educación Primaria durante el Año Escolar: 
        <span id="periodo">{{data.periodo}}</span> Constancia que se expide en CARACAS; a los <span id="dias">{{data.dia}}</span> días del mes de <span id="mes">{{data.mes}}
        </span> Del año <span id="ano">{{data.ano}}</span></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="font-style: italic; text-align:center">(SELLO)</div>
  </div>
</body>
</html>
