<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Constancia de Culminación de Estudios</title>
</head>
<body>
  <div >
    <div style="text-align: center; font-weight:bold;margin-top:40px">
    <div>REPUBLICA BOLIVARIANA DE VENEZUELA</div>
    <div>MINISTERIO DEL PODER POPULAR PARA LA EDUCACION</div>
    <div>COMPLEJO EDUCATIVO "SERGIO MEDINA"</div>
    <div>DEPARTAMENTO DE CONTROL DE ESTUDIOS</div>
    </div>
    <br>
    <br>
    <br>
    <div style="font-weight: bold;text-align:center;font-size:large">CONSTANCIA DE CULMINACIÓN DE ESTUDIOS 
        <br>
        DE EDUCACIÓN MEDIA GENERAL</div>
    <br>
    <br>
    <br>
    <br>
    <div style="line-height: 2; padding:70px">
        <div>Quienes suscriben, Director del COMPLEJO EDUCATIVO "SERGIO MEDINA" y Coordinador del Departamento de 
        Evaluación de dicha Institución, por medio de la presente, hacen constar que el Ciudadano: 
        <span id="nombreEstudiante">{{data.estudiante}}</span>, 
        Portador de la Cédula de Identidad Nº V-<span id="cedula">CEDULA DE IDENTIDAD - {{data.cedula}}</span>
         culminó sus estudios de <span id="nivel">{{data.curso}}</span> <span id="ano">AÑO</span> 
         de EDUCACIÓN PRIMARIA GENERAL en este Plantel, satisfactoriamente en el año escolar: 
         <span id="periodo">{{data.periodo}}</span>.</div>
    <br>
    <div>Constancia que se expide a solicitud de parte interesada en Caracas, a los {{data.dia}} días del mes de 
        <span id="mes">MES {{data.mes}}</span> del año <span id="ano">{{data.ano}}</span>.</div>

        

    </div>
    
  </div>
</body>
</html>
